/*---------- general ----------*/

@font-face {
    font-family: futurist;
    src: url(../fonts/futurist/Futurist\ fixed-width.TTF);
}

body, html {
    height: 100%;
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

/*---------- parallax ----------*/

.parallax {
    background-image: url(./../images/parallax.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-parallax {
    color: white;
}

h1 {
    font-size: 70px;
    font-family: futurist;
}

/*---------- section "planet" ----------*/

.planets {
    background-color: black;
    color: white;
}

.evenly {
    display: flex;
    justify-content: space-evenly;
}

.modal-planet {
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: futurist;
    text-align: center;
    position: relative;
}

.img-planet {
    width: 250px;
    height: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.modal-planet:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

p {
    margin: 0;
}

.info-text {
    padding-top: 10px;
    text-align: center;
}

/*---------- modale ----------*/

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    color: black;
}

.modalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modalClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover, .modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalBody {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

.img-modal {
    width: 400px;
    height: 400px;
    margin: auto;
}

.align {
    padding: 10% 0;
    width: 50%;
    margin: auto;
}

.img-planet {
    animation: turn 8s infinite alternate-reverse;
}

@keyframes turn {
    from {
      transform: translateY(0px) rotate(15deg);
    }
    to {
      transform: translateY(0px) rotate(30deg);
    }
}

